body {
    display: flex;
    justify-content: center;
}

.RC {
    background-color: navy;
    margin: 10px;
    width: 800px;
}

.header {
    display: flex;
    justify-content: start;
    background-color: cobalt;
    padding: 20px;
}
.navy {
	color: navy;
}

.gambar {
    padding: 20px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.judul {
    color: white;
}

.navbar {
    display: flex;
    justify-content: end;
    list-style: none;
    padding: 5px;
    background-color: grey;

}

.menu a {
    padding: 10px;
    color: white;
    text-decoration: none;
}

.tentang {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.video {
    text-align: center;
}

.pengalaman {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.pengalaman table {
    width: 100%;
}

.kontak {
    margin: 10px;
    padding: 20px;
    background-color: white;
}

.kontak button {
    background-color: grey;
}

.footer {
    display: flex;
    justify-content: center;
    background-color: grey;
    color: white;
}
@keyframes typing {
	0%{
		width: 0%;
	}
	100%{
		width: 100%;
	}
}
.text {
	white-space: nowrap;
	overflow: hidden;
	border-right: 2px solid black;
	animation: typing 12s steps(100) infinite;
	width: fit-content;
}